<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	This is the contact page for the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	website.
	To get help on this sample ap, see the
	<a href="mailto:ogreen8084@gmail.com">Oscar Green</a>, founder of this site.
</p>
